<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>



  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date (%logger) [%5level] - %message"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value=".\Logs\CvLocate-log.xml"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <!--<layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level@%thread [%logger] [%class].[%method] %message%newline" />
      </layout>-->
    </appender>
    <appender name="ParsingEngineFileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value=".\Logs\ParsingEngine-log.xml"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
    </appender>
    <logger name="defaultLogger">
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>
    <logger name="parsingEngineLogger">
      <level value="ALL"/>
      <appender-ref ref="ParsingEngineFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </logger>

  </log4net>

  <!--<system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>-->

</configuration>
