<div>
    <header class="clearfix">
    </header>
    <section id="login-view" class="mainbar" data-ng-controller="login as vm">
        <section class="matter">
            <div class="container">
                <div class="row">
                    <button class="red" ng-click="vm.signUp()">SIGN UP</button>
                    <button class="green" ng-click="vm.signIn()">SIGN IN</button>
                </div>
            </div>
        </section>
    </section>
    <footer>
    </footer>
</div>