STEP 1:
<form name="signUpForm" data-ng-controller="signUp as vm">

    <!--email-->
    <div class="form-group">
        <label><b>email</b></label>
        <input type="email"
               name="email"
               ng-model="vm.signUpStep1.email"
               class="form-control k-textbox"
               required="required"
               placeholder="email"
               ng-blur="vm.checkEmail(signUpForm)" ng-focus="vm.resetEmailValidation(signUpForm)" />
        <div ng-messages="signUpForm.email.$error" ng-if='signUpForm.email.$dirty||signUpForm.$submitted==true'>
            <div ng-message when="required">
                required
            </div>
            <div ng-message when="email">
                email not valid
            </div>
            <div ng-message when="emailExists">
                email exists
            </div>
        </div>
    </div>

    <!--password-->
    <div class="form-group">
        <label>password</label>
        <input type="password"
               name="password"
               data-ng-model="vm.signUpStep1.password"
               class="form-control k-textbox"
               placeholder="password"
               ng-minlength="6"
               required
               ng-blur="vm.checkPassword(signUpForm)" />
        <div ng-messages="signUpForm.password.$error" ng-if='signUpForm.password.$dirty||signUpForm.$submitted==true'>
            <div ng-message when="required">
                required
            </div>
            <div ng-message when="minlength">
                min length
            </div>
            <div ng-message when="emailExists">
                email exists
            </div>
        </div>
    </div>

    <!--Reenter password-->
    <div class="form-group">
        <label>Reenter password</label>
        <input type="password"
               name="reenterPassword"
               data-ng-model="vm.reenterPassword"
               class="form-control k-textbox"
               placeholder="Reenter password"
               required ng-blur="vm.checkPassword(signUpForm)" />
        <div ng-messages="signUpForm.reenterPassword.$error" ng-if='signUpForm.password.$dirty||signUpForm.$submitted==true'>
            <div ng-message when="required">
                required
            </div>
            <div ng-message when="equalPassword">
                not equal Password
            </div>
        </div>
    </div>

    <!--Registration type-->
    <div class="form-group">
        <label><b>Registration type</b></label><br />
        <select name="RegistrationType"
                ng-model="vm.signUpStep1.userType"
                ng-options="value.id as vm.resourceManager.getString(value.resourceKey) for (name, value) in vm.enums.userTypeEnum "
                disabled></select>
    </div>
    <br />
    <br />
    <button ng-disabled="!signUpForm.$valid" ng-click="vm.nextStep()">NEXT</button>
</form>
